@import "bootstrap";
header {
	margin:0 auto;
	width:1000px;
	margin-bottom: 35px;
}


ul {
	list-style-type: none;
	text-align: center;
	font-size: 15;
	color: CCCCCC;
}

li{
	display: inline;
	margin-left: 40px;
	margin-right: 40px;
}

.arrow{
	float: right;
	margin-right: 65px;
	margin-top: 6px
}

 .leftcolumn{
    display:block;
    float:left;
    text-align:left;
  }

.rightcolumn{
    display:block;
    float:right;
    text-align:right;
    margin-right: 10px;
}

.centercolumn{
    text-align:center;
}


.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #bbb;
  -webkit-box-shadow: 3px 3px 5px 6px #bbb;
  box-shadow:         3px 3px 5px 6px #bbb;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


#navtop{
	text-align: right;
	line-height: 70px;
	margin-right:0px;
	height:70px;
	width: 1000px;
	background-color: #555555;
}
 
#banner {
      margin-top: 70px;
      margin-bottom: 40px;
      width:1000px;
      height:190px;
      }

#vidcontainer {
	display: table-cell;
	vertical-align: middle;
	height:200px;
	width: 320px;
	background: black;
}



.spacer {
	margin-top: 12.5px;
}

.spacer2 {
	margin-top: 5px;
}

.inputmargin {
	margin-bottom: -9px;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}


body {
	height:100%;
	margin:0 auto;
	margin-top:10px;
	width:1000px;
}

/*
button{
	display: block;
	position: absolute;
	right:50px;
	bottom:20px;
	width:200px;
 	margin: 0 auto;
}*/

#cardline{
	position: relative;
	height:180px;
	width: 1000px;
	margin-bottom: 10px;
}

#cardholder{
 	position: absolute;
 	right: 0;
 	top:0;
 	width:690px;
 	height:180px;
 	margin-bottom: 10px;
 	background-color: #666666;
}

#cardpic{
 	width:300px;
 	height:180;
 	background-color: gray;
}

#options {
	position: relative;
    width:1000px;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.step {
	background-color: #777777;
	width:320px;
	height:500px;
	float:left;
	position: relative;
}

.left-margin {
	margin-left: 20px;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.footwrap{
	margin-top: 90px;
}


/*form{
	text-align: right;
	position: absolute;
	bottom: 40;
	right: 55;
} */


.footer{
	text-align: left;
	width: 100%;
	margin-top: 15px;
}