/*@import "bootstrap";*/


/*header elements*/

header {
	margin:0 auto;
	width:1000px;
	margin-bottom: 35px;
}

#navtop{
	text-align: right;
	line-height: 70px;
	margin-right:0px;
	height:70px;
	width: 1000px;
	background-color: #555555;
}

 

.cardnum{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 40px;
	z-index: 1;
	position: relative;
	top: 100px;
	text-shadow: 1px 1px 1px #AAA; 
}


.leftalign {
	text-align: left;
}

.center {
	text-align: center;
}


#cardwrapper {
	margin-top: 70px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #bbb;
  -webkit-box-shadow: 3px 3px 5px 6px #bbb;
  box-shadow:         3px 3px 5px 6px #bbb;
  -moz-border-radius: 10px;
  border-radius: 5px;
}


/*"Request" elements*/



/*Footer elements*/

.footwrap{
	margin-top: 90px;
}

.footer{
	text-align: left;
	width: 100%;
	margin-top: 15px;
}


/*Spacers*/

.spacer {
	margin-top: 12.5px;
}

.spacer2 {
	margin-top: 5px;
}

.inputmargin {
	margin-bottom: -9px;
}


/*generic elements*/

ul {
	list-style-type: none;
	text-align: center;
	font-size: 15;
	color: CCCCCC;
}

li{
	display: inline;
	margin-left: 40px;
	margin-right: 40px;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}


body {
	height:100%;
	margin:0 auto;
	margin-top:10px;
	width:1000px;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto
}


